header {
    display:block;
    width: 100%;
    margin:0 auto;
    height:50px;
    padding:0 10px; 
    background: #121212;

    .wrap {
        position: relative;
        display:block;
        width :100%;
        margin: 0 auto;
        max-width: 980px;
        height:100px;
       .logo{
            display:block;
            width:60px;
            position: absolute;
            left :10px; top :50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
            
            img{
                display:block;
                width:80%;  
                margin-bottom: 50px;

            }
       }
    }
}